.feature {
  text-align: center;

  h1 {
    font-size: 35px;
    font-weight: bold;
  }

  h2 {
    font-size: 18px;
    font-weight: 400;
  }
}

.button {
  &.download {
    font-size: 24px;
  }

  &.donate {
    font-size: 24px;
  }
}

.feature.dark {
  background-color: #31363b;
}

.button.learn-more {
  font-size: 16px;
}

.feature {
  &.command {
    background-color: #31363b;
  }

  &.dark {
    color: white;
  }
}

.product-in.dark {
  color: white;
}

.button {
  &.getinvolved,
  &.download,
  &.donate {
    font-size: 20px;
  }
}

.product-in {
  height: 550px;
  text-align: center;

  h3 {
    font-size: 20px;
    font-weight: bold;
    
  }

  h4 {
    font-size: 16px;
    font-weight: 400;
    
  }
}

@media (min-width: 768px) {
  .product-in h3 {
    font-size: 32px;
    font-weight: bold;
    
  }
}

@media (min-width: 768px) {
  .product-in h4 {
    font-size: 20px;
    font-weight: 400;
    
  }
}


.product-in {
  &.plasma {
    background-color: #f47750;
  }

  &.plugin {
    background-color: #31363b;
  }

  &.wiki {
    background-color: #da4453;
  }
}


.feature {
  &.music,
  &.ring {
    background-color: white;
  }
}

.product-in.OpenVpn {
  background-color: white;
}

.connect,
.connect-desc {
  color: white !important;
}

.music,
.music-desc,
.notifications,
.notifications-desc {
  color: #212529 !important;
}

.command,
.command-desc,
.browse,
.browse-desc {
  color: white !important;
}

.ring,
.ring-desc {
  color: #212529 !important;
}

.more,
.more-desc,
.madebyyou,
.madebyyou-desc {
  color: white !important;
}

.product-in {
  &.plasma {
    h3,
    h4 {
      color: #212529 !important;
    }
  }

  &.plugin.dark {
    h3,
    h4 {
      color: white !important;
    }
  }

  &.OpenVpn {
    h3,
    h4 {
      color: #212529 !important;
    }
  }

  &.wiki {
    h3,
    h4 {
      color: #212529 !important;
    }
  }
}
